body {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.calculator-content {
    background-color: rgb(179, 179, 179);
}

p {
    font-size: 30px;
    padding: 10px;
}

input {
    height: 30px;
    font-size: 20px;
    width: 100px;
    text-align: center;
}

button {
    background-color: rgb(105, 20, 101);
    border-radius: 50px;
    color: #fff;
    height: 30px;
    font-size: 10px;
    width: 100px;
}